@media screen and (max-width: 400px) {
  .container {
    padding: 20px 30px 30px 30px;
  }
  .converter-form {
    gap: 10px;
  }
  .currency-row {
    display: block;
    align-items: center;
    margin-bottom: 12px;
  }
  input,
  select {
    margin: 0;
  }
  label {
    text-align: center;
  }
}
